<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>ペット作成</title>
</head>
<body>
	<p>ログインしました(ID: <%= id %>)</p>
	<p>ペットを作成する</p>
	<h1>ペット登録ページ</h1>
	<form method="post" action="./register">
	<input type="text" name="username">
	<input type="text" name="petname">
	<input type="submit" value="作成">
	<p><a href="/logout">ログアウトする</a></p>
</body>