<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
	<title>SidePet - ペットをふれあうSNS</title>
</head>
<body>
	<header>
		<nav>
			<div class="nav-wrapper orange darken-1">
				<a href="/" class="brand-logo">SidePet</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="/about">about</a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><a href="/about">about</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<main>
		<div class="container">
		<div class="center-align">
			<br>
			<img src="/img/sidepet-01.png" alt="タイトルロゴ" width="400px">
			<p class="flow-text deep-orange-text accent-3">ペットとふれあうSNS</p>
		</div>
		<div class="row">
			<div class="col s4 center-right">
				<p><a href="/auth/twitter" class="waves-effect waves-light btn" style="background-color: #55acee; text-transform: none;"><i class="fa fa-twitter"></i>
		Twitterで新規登録/ログイン</a></p>
			</div>
			<div class="col s4 center-align">
				<p><a href="/signup" class="waves-effect waves-light btn orange">新規登録</a></p>
			</div>
			<div class="col s4 center-left">
				<p><a href="/login" class="waves-effect waves-light btn green">ログイン</a></p>
			</div>
		</div>
	</main>
	<footer class="page-footer orange darken-1">
		<div class="container">
			<div class="row">
            	<div class="col l6 s12">
                	<h5 class="white-text">SidePet</h5>
                	<p class="grey-text text-lighten-4">SidePetは、自分をサポートしてくれるペットを自由に作成し飼うことができます。また自分とペット、ペットどうし等の交流ができるサービスです。</p>
				</div>
	            <div class="col l4 offset-l2 s12">
                	<h5 class="white-text">Links</h5>
                	<ul>
                		<li><a class="grey-text text-lighten-3" href="#!">SidePet とは</a></li>
	                	<li><a class="grey-text text-lighten-3" href="#!">お問い合わせ</a></li>
    	            </ul>
        	    </div>
        	</div>
        </div>
        <div class="footer-copyright">
        	<div class="container">
            © 2015 Copyright Text
            </div>
        </div>
   </footer>
   <script>
   	console.log('nekoo')
   	$(".button-collapse").sideNav();
   	$document.ready(function() {
   		console.log('neko');
   	})
   </script>
</body>
</html>