<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Pet</title>
</head>
<body>
	<p><a href="/auth/twitter">Sign in with Twitter</a></p>
	<p><a href="./userpage">ユーザーページヘ</a></p>
</body>
</html>