<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Pet</title>
</head>
<body>
	<h1>INDEX</h1>
	<p><a href="/auth/twitter">Sign in with Twitter(Twitterで登録orログイン)</a></p>
	<p><a href="/signup">サインアップ(新規登録)</a></p>
	<p><a href="/login">サインイン(ログイン)</a></p>
</body>
</html>