<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Pet</title>
</head>
<body>
	<h1>INDEX</h1>
	<p><a href="/auth/twitter">Sign in with Twitter</a></p>
	<p><a href="/signup">サインアップ</a></p>
	<p><a href="./userpage">ユーザーページ(ホーム)ヘ</a></p>
</body>
</html>