<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>SidePet</title>
</head>
<body>
	<h1>SidePet</h1>
	<p><a href="/auth/twitter">Sign in with Twitter(Twitterで登録orログイン)</a></p>
	<p><a href="/signup">サインアップ(新規登録)</a></p>
	<p><a href="/login">サインイン(ログイン)</a></p>
	<p>SidePetは、自分をサポートしてくれるペットを自由に作成し飼うことができ、また自分とペット、ペットどうし等の交流ができるサービスです。</p>
</body>
</html>