<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>登録完了</title>
</head>
<body>
	<h1>アカウント登録が完了しました!</h1>

	<p><a href="/userpage">ユーザーページヘ</a></p>
	<p><a href="/logout">ログアウトする</a></p>
</body>
</html>