<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
</head>
<body>
	<h1>ログインする</h1>
	<p>Twitterでログインする</p>
	<p><a href="/auth/twitter">Sign in with Twitter</a></p>
</body>
</html>