<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>登録完了</title>
</head>
<body>
	<h1>登録完了</h1>
	<p>username: <%= username %></p>
	<p>petname: <%= petname %></p>
	<p><a href="/userpage">ユーザーページヘ</a></p>
	<p><a href="/logout">ログアウトする</a></p>
</body>
</html>