<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
	<title>アカウント設定 - SidePet</title>
</head>
<body>
	<div class="container">
		<h1>アカウント設定</h1>
		<form method="post" action="./setting_edit">
			<div>
			<label>ユーザー名</label>
				<input type="text" name="username" value=<%= username %> required>
			</div>
			<div>
				<label>ペット名</label>
				<input type="text" name="petname" value=<%= petname %> required>
			</div>
			<div>
				<a href="/userpage" class="waves-effect waves-light btn">キャンセル</a>	
                <button type="submit" class="waves-effect waves-light btn">設定</button>	
			</div>
		</form>

		<p><a href="/logout">ログアウトする</a></p>
	</div>
</body>