<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>編集完了</title>
</head>
<body>
	<h1>アカウント設定が完了しました!</h1>
	<p>ユーザー名: <%= username %></p>
	<p>ペットの名前: <%= petname %></p>

	<p><a href="/userpage">ユーザーページヘ</a></p>
	<p><a href="/logout">ログアウトする</a></p>
</body>
</html>