<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
	<title>新規登録 - SidePet</title>
</head>
<body>
    <div class="container">
        <h1>新規登録</h1>
        <div class="row">
            <div class="card-panel red accent-3" style="opacity: .7"><span class="white-text">ERROR: <%= err_message %></span></div>
            <div class="col s6">
                <p>ソーシャルアカウントで新規登録</p>
                <p><a href="/auth/twitter" class="waves-effect waves-light btn-large" style="background-color: #55acee; text-transform: none;"><i class="fa fa-twitter"></i> Twitterで新規登録</a></p>
                <br>
                <p><strong>アカウントをお持ちの場合は<a href="/login">ログイン</a></strong></p>
            </div>
            <div class="col s6">
                <p>SidePetアカウントで新規登録</p>
                <form action="/localsignup" method="post">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" id="userid" name="userid" class="validate" required>
                            <label for="userid">User ID <span class="teal-text accent-3">(半角英数字)</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="password" id="password" name="password" class="validate" required>
                            <label for="password">Password <span class="teal-text accent-3">(8文字以上32文字以内の半角英数字)</span></label>
                        </div>
                    </div>
                    <div class="row right-align">
                        <button type="submit" class="waves-effect waves-light btn">新規登録</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>