<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>サインアップ</title>
</head>
<body>
	<h1>サインアップ</h1>
	<p>Twitterでログインする</p>
	<p><a href="/auth/twitter">Sign in with Twitter</a></p>
	<P>IDpasswordで新規登録</p>
	<form action="/localsignup" method="post">
    <div>
        <label>Userid:</label>
        <input type="text" name="userid"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Sign up"/>
    </div>
</form>
	<p></p>
</body>
</html>