<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<script src="js/three.min.js"></script>
	<script src="js/stats.min.js"></script>
	<script src="js/TrackballControls.js"></script>
	<script src="js/Detector.js"></script>
	<script src="js/Projector.js"></script>
	<title>ホーム</title>
</head>
<body>
	<p>ログインしました</p>
	<p>username: <%= username %></p>
	<p>petname: <%= petname %></p>
	<p><a href="/logout">ログアウトする</a></p>
</body>
</html>